*.pyc
local_settings.py
*~
~*
*.log
.project
.pydevproject
.idea
*.sublime-project
*.sublime-workspace
.settings
.ropeproject
db.sqlite3
media/
fabfile.py
.metadata
node_modules/
deploy/.tmp
deploy/dist
