body {
    background: url(../img/greyzz.png);
    /*font-family: Arial, Helvetica, sans-serif;*/
    direction: ltr;
    padding: 100px 0;
}

body > h2 {
    text-align: center;
}

#upload-box {
    padding: 10px 25px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fcfcfc;
}
#upload-box h2 {
    text-align: center;
    margin: 10px 0 20px;
}
#upload-box .progress {
    visibility: hidden;
    margin-top: 15px;
}
#upload-box .go {
    display: block;
    margin: 0 auto;
}
#upload-box .r{
    margin: 10px 0;
}

.dropping .container {
    opacity: 0.5;
}

.drag-drop-msg {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -135px;
    margin-top: -57px;
    font-size: 80px;
    letter-spacing: 15px;
    text-shadow: -1px 1px #ddd;
}
.dropping .drag-drop-msg {
    display: block;
}

.file-input-overlay{
    position: relative;
    overflow: hidden;
}
.file-input-overlay input{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: 0.0;
    filter: alpha(opacity=0);
    font-size: 50px;
    left: 0;
    width: 100%;
    bottom: 0;
}
.file-input-overlay button{
    margin-bottom: 0;
}

#points {
    padding: 40px 20px;
}
#points ul {
    padding-left: 0;
}
#points li {
    margin-bottom: 10px;
}

#deadline {
    text-align: center;
    font-size: 23px;
    font-family: sans-serif;
}
#deadline.negative{
    color: #f00;
}


.notif {
    position: fixed;
    top: 3%;
    width: 60%;
    left: 20%;
}